
#winnersList {
    background-color: #e0f8fc;
    padding: 15px;
    width: 50%;
    margin: auto;
    border-style: solid;
    border-color: grey;
}

form {
    background-color: #e0f8fc;
    padding: 15px;
    width: 75%;
    margin: auto;
    border-style: solid;
    border-color: grey;
}

img {
    position: absolute;
    top:10px;
    right: 50px;
    width: 400px;
    height: 350px;
}

body {
    text-align: center;
    background-color: #ade3ed;
    font-family: arial;
}

#button {
    color: white;
    background-color: blue;
    border: none;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
}

#button:hover {
    background-color: white;
    color: blue;
}
